[Unit]
Description=Prometheus exporter for MySQL server
Documentation=https://github.com/prometheus/mysqld_exporter
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus

EnvironmentFile=/etc/default/mysqld_exporter
ExecStart=/usr/sbin/mysqld_exporter $OPTIONS

SyslogIdentifier=mysqld_exporter
Restart=always

[Install]
WantedBy=multi-user.target
